@tailwind base;
@tailwind components;

html {
    scroll-behavior: smooth
}

.carousel__dot--selected {
    background-color: #3E72E1 !important
}

@tailwind utilities;

.dark .dark\:prose {
    color: white;
    max-width: 65ch;
}

.dark .dark\:prose a {
    color: #e9c82f;
    text-decoration: underline;
    font-weight: 500;
}

.dark .dark\:prose strong {
    color: #f1f1f1;
    font-weight: 600;
}
